html,body{
    width: 100%;
    min-height: 00vh;display: block;
    align-items: center;
    justify-content: center;
    background-color: #075D56;
    color: white;
    margin: 0px;
    padding: 0;
}


.img-mobile img{
    text-align: center;
    display: none;
    
    
}
.container{
    
    display: flex;     
    align-items: center;
    justify-content: center;
    padding: 0px 20px;    
}

.info{
    margin-top: 50px;
    max-width: 900px;
}
.info p{
    font-family: 'Lusitana', serif;
    font-size: 18px;
}
.info i{
    font-size: 40px;
    margin: 20px;
    color: white;
}
.info a{
    text-decoration: none;
}
footer{
    position: absolute;
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
    background-color: #004e48;
    bottom: 0;
    width: 100%;
    line-height:30px; 

}

.footer-mobile{
    display: none;
}
footer span{
    font-size: 18px;
    font-family: 'Lusitana', serif;

}
footer a{
    text-decoration: none;
    color: white;
    font-family:  'Lusitana', serif;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 780px) {
body{
    display: block;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.container{
    
    display: block;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    


}
.info{
    width: 90%;
    margin-left: 20px;
    padding-bottom: 2.5rem;
}

.img-desktop{
    display:none;
}   
.img-mobile img{
    display: block;
    width: 100% ;
    text-align: center;
}
footer{
    
    position: static;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.footer-mobile{
    display: block;
}
.footer-desktop{
    display: none;
}
}